body {
  display: grid;
  place-items:  center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content h1 {
  font: min(20pt, 5vmin) sans-serif;
}

.content img {
  border-radius: min(2vw, 10px);
  width: min(100%, 80vw);
}
