:root {
  width:100vw;
  height:100%;
  margin:0;
  padding:0;
  position:absolute;
}

body {
  width:100vw;
  height:100%;
  margin:0;
  padding:0;
  position:absolute;
  display:flex;
  align-items:center;
  justify-content:center;
}

.content {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

.content h1 {
  font-family: sans-serif;
}

.content img {
  border-radius: 10px;
}
